@using HotelBookingDetails.Shared.Dto
@inject ApiClientWrapper Client

<Modal @ref="_hotelModal">
    <ModalContent Centered>
        <Form>
            <ModalHeader>
                <ModalTitle>Новый отель</ModalTitle>
                <CloseButton Clicked="CloseModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Название</FieldLabel>
                    <TextEdit @bind-Text="@_newHotel.Name"/>
                </Field>
                <Field>
                    <FieldLabel>Адрес</FieldLabel>
                    <TextEdit @bind-Text="@_newHotel.Address"/>
                </Field>
                <Field>
                    <FieldLabel>Город</FieldLabel>
                    <TextEdit @bind-Text="@_newHotel.City"/>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Clicked="CreateHotelAsync">Создать</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
    [Parameter] public EventCallback OnHotelAdded { get; set; }
    
    private Modal _hotelModal = new();
    
    private HotelDto _newHotel = new()
    {
        Name = "",
        Address = "",
        City = ""
    };

    public async Task Show()
    {
        await _hotelModal.Show();   
    }

    private async Task CreateHotelAsync()
    {
        await Client.CreateHotel(_newHotel);
        await _hotelModal.Hide();
        await OnHotelAdded.InvokeAsync();
    }

    private async Task CloseModalAsync()
    {
        await _hotelModal.Hide();
    }
}