@page "/hotel/{id}"
@using HotelBookingDetails.Domain.Entity
@using HotelBookingDetails.Shared.Dto
@inject ApiClientWrapper Client
@inject IJSRuntime JsRuntime

<Form>
    <Card>
        <CardHeader>
            <Row Class="justify-content-between">
                <Column ColumnSize="ColumnSize.IsAuto">
                    <h4>Изменить предприятие</h4>
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="Color.Primary" Clicked="UpdateAsync">Сохранить</Button>
                    <Button Color="Color.Danger" Clicked="DeleteAsync">Удалить</Button>
                    <Button Color="Color.Secondary" onclick="history.back();">Закрыть</Button>
                </Column>
            </Row>
        </CardHeader>
        <CardBody>
            <Field>
                <FieldLabel>Название</FieldLabel>
                <TextEdit @bind-Text="@UpdatedHotel.Name"/>
            </Field>
            <Field>
                <FieldLabel>Адрес</FieldLabel>
                <TextEdit @bind-Text="@UpdatedHotel.Address"/>
            </Field>
            <Field>
                <FieldLabel>Город</FieldLabel>
                <TextEdit @bind-Text="@UpdatedHotel.City"/>
            </Field>
        </CardBody>
    </Card>
</Form>

@code {
    [Parameter] public string Id { get; set; }
 
    private Hotel UpdatedHotel { get; set; } = new()
    {
        Id = 0,
        Name = "",
        Address = "",
        City = ""
    };
    
    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(Id, out var id))
            throw new Exception("Неверный айди отеля");
        UpdatedHotel = await Client.GetHotel(id);
        await base.OnInitializedAsync();
    }

    private async Task DeleteAsync()
    {
        await Client.DeleteHotel(UpdatedHotel.Id);
        await JsRuntime.InvokeVoidAsync("history.back");
    }

    private async Task UpdateAsync()
    {
        await Client.UpdateHotel(UpdatedHotel.Id, new HotelDto()
            {
                Name=UpdatedHotel.Name,
                Address = UpdatedHotel.Address,
                City = UpdatedHotel.City
            });
    }
}